@media (max-width: 700px){
/* header */
    
    .fa-bars{
        display: block;
    }
    .main_nav{
        display: none;
    }
/* header */

/* section 2 */
    .travel_card{
        display: none;
    }
    .section_card{
        width: 60%;
    }
    .div_cards{
        gap: 18px;
    }
 /* section 2 */

/* section 3 */
    .section3_pic_div{
        width: 70%;
        flex-wrap: wrap;
    }
    .imgs2_container{
        flex-direction: row;
        justify-content: space-between;
        
    }
/* section 3 */

}

@media (max-width: 680px){
    .div_cards{
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
    .section_card{
        width: 80%;
    }

}


@media (max-width: 660px){
/* section1 */
    .section1_header{
        font-size: 40px;
        text-align: center;
    }
    .section1_p{
        font-size: 14px;
        width: 90%;
        text-align: justify;
    }
/* section1 */

}
